.members-section, .requests-section {
  margin: 1rem;
}

@media (min-width: 600px) {
  mat-grid-list {
    cols: 2;
  }
}

@media (min-width: 960px) {
  mat-grid-list {
    cols: 3;
  }
}

@media (min-width: 1280px) {
  mat-grid-list {
    cols: 4;
  }
}

.members-section, .requests-section {
  margin: 1rem;
  background-color: #6ab0f3;
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem 0;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-card {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 16px;

}

.mat-card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

.request-card{
  margin-left: 5%;
}

.member-card{
  margin-left: 5%;
}
