<header style="background-color: #333333; color: white; display: flex; justify-content: space-between; padding: 10px;">
  <a routerLink="/member-trainings">
    <img src="assets/images/icons/back-icon.png" alt="member-icon" style="width: 30px; height: 50px; margin-top: 15%; margin-left: 5%">
  </a>
  <a routerLink="/member-profile">
    <img src="assets/images/member/member-icon.png" alt="member-icon" style="width: 50px; height: 50px; margin-top: 15%">
  </a>
</header>

<h1>Progreso</h1>
<mat-card class="card">
  <mat-card-header class="name">
    Christian Reyes
  </mat-card-header>
  <mat-card-content>
    <div class="notification">
      <div class="message">Cumplió durante un mes su primera dieta brindada</div>
      <div class="date">27/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Realizó 3 de 5 días de ejercicios</div>
      <div class="date">22/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Completó satisfactoriamente su primera semana de ejercicios</div>
      <div class="date">20/05/24</div>
    </div>
  </mat-card-content>
  <div class="button">
    <a routerLink="/">
      <button class="color-boton">Agregar</button>
    </a>
  </div>
</mat-card>

<mat-card class="card">
  <mat-card-header class="name">
    Martín Mendoza
  </mat-card-header>
  <mat-card-content>
    <div class="notification">
      <div class="message">Cumplió durante un mes su primera dieta brindada</div>
      <div class="date">27/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Realizó 3 de 5 días de ejercicios</div>
      <div class="date">22/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Completó satisfactoriamente su primera semana de ejercicios</div>
      <div class="date">20/05/24</div>
    </div>
  </mat-card-content>
  <div class="button">
    <a routerLink="/">
      <button class="color-boton">Agregar</button>
    </a>
  </div>
</mat-card>

<mat-card class="card">
  <mat-card-header class="name">
    Liset Flores
  </mat-card-header>
  <mat-card-content>
    <div class="notification">
      <div class="message">Cumplió durante un mes su primera dieta brindada</div>
      <div class="date">27/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Realizó 3 de 5 días de ejercicios</div>
      <div class="date">22/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Completó satisfactoriamente su primera semana de ejercicios</div>
      <div class="date">20/05/24</div>
    </div>
  </mat-card-content>
  <div class="button">
    <a routerLink="/">
      <button class="color-boton">Agregar</button>
    </a>
  </div>
</mat-card>

<mat-card class="card">
  <mat-card-header class="name">
    Ximena Lopez
  </mat-card-header>
  <mat-card-content>
    <div class="notification">
      <div class="message">Cumplió durante un mes su primera dieta brindada</div>
      <div class="date">27/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Realizó 3 de 5 días de ejercicios</div>
      <div class="date">22/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Completó satisfactoriamente su primera semana de ejercicios</div>
      <div class="date">20/05/24</div>
    </div>
  </mat-card-content>
  <div class="button">
    <a routerLink="/">
      <button class="color-boton">Agregar</button>
    </a>
  </div>
</mat-card>

<mat-card class="card">
  <mat-card-header class="name">
    Juan Reyes
  </mat-card-header>
  <mat-card-content>
    <div class="notification">
      <div class="message">Cumplió durante un mes su primera dieta brindada</div>
      <div class="date">27/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Realizó 3 de 5 días de ejercicios</div>
      <div class="date">22/05/24</div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="notification">
      <div class="message">Completó satisfactoriamente su primera semana de ejercicios</div>
      <div class="date">20/05/24</div>
    </div>
  </mat-card-content>
  <div class="button">
    <a routerLink="/">
      <button class="color-boton">Agregar</button>
    </a>
  </div>
</mat-card>
