<header style="background-color: #333333; color: white; display: flex; justify-content: space-between; padding: 10px;">
  <a routerLink="/coach-dashboard">
    <img src="assets/images/icons/back-icon.png" alt="member-icon" style="width: 30px; height: 50px; margin-top: 15%; margin-left: 5%">
  </a>
  <a routerLink="/coach-profile">
    <img src="assets/images/member/member-icon.png" alt="member-icon" style="width: 50px; height: 50px; margin-top: 15%">
  </a>
</header>
<div style="background: #F2F4FF; padding: 2% 3% 2% 3%">
  <h1 style="font-size: 350%; margin: 0 0 0 4%">Rutinas</h1>
</div>

<div class="routines-container">
  <h2 style="background: #A9D3FF; color: white">Mis Rutinas</h2>
  <div class="routine-cards">
    <mat-card *ngFor="let routine of routines" class="routine-card">
      <div class="card-content">
        <img mat-card-image [src]="routine.photo" alt="{{ routine.name }}">
        <div class="text-content">
          <mat-card-title>{{ routine.name }}</mat-card-title>
          <mat-card-subtitle>{{ routine.exercise }}</mat-card-subtitle>
          <mat-card-subtitle>{{ routine.repetitions }}</mat-card-subtitle>
          <mat-card-content>
            <p>{{ routine.instruction }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="editRoutine(routine)">Editar</button>
            <button mat-button color="warn" (click)="deleteRoutine(routine.id)">Eliminar</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>

  <mat-divider></mat-divider>

  <h2 style="background: #A9D3FF; color: white">Crear Nueva Rutina</h2>
  <form [formGroup]="routineForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ejercicio</mat-label>
      <input matInput formControlName="exercise" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Repeticiones</mat-label>
      <input matInput formControlName="repetitions" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Instrucción</mat-label>
      <textarea matInput formControlName="instruction" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Foto (URL)</mat-label>
      <input matInput formControlName="photo" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Crear Rutina</button>
  </form>
</div>
