/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
}

.header {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.content {
  min-height: calc(100vh - 120px); /* Adjust based on header and footer height */
  display: flex;
  flex-direction: column;
}

.training-card {
  background-color: #E0EAFD; /* Soft blue */
  margin: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.training-buttons {
  width: 180px;
  margin-top: 1.5%;
  margin-right: 5%;
  background-color: #4D8ED6 !important; /* Blue button */
  color: white !important;
  border-radius: 20px;
}

.training-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-section {
  display: flex;
  flex-direction: row;
  margin-top: 1.5%;
}

.question-box {
  display: flex;
  flex-direction: row;
  margin-top: 1.5%;
  width: 600px;
}

.trainings-card-header {
  background-color: #C2D4F7; /* Light blue */
  margin: 40px 40px 0 40px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trainings-card-body {
  background-color: #A6BDE6; /* Mid-tone blue */
  margin: 0 40px 20px 40px;
  display: flex;
  flex-direction: column;
}

.training-cards {
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #4D8ED6; /* Border blue */
}

.card-content {
  display: flex;
  align-items: center;
  flex-direction: column; /* Stack items vertically on small screens */
}

.card-image {
  height: 80px;
  width: 100px;
  margin: 10px 0;
}

.card-text {
  text-align: center;
  margin: 10px 0;
}

.footer {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: auto; /* Push the footer to the bottom */
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .training-card-header {
    flex-direction: column;
    align-items: center;
  }

  .buttons-section {
    flex-direction: column;
    align-items: center;
  }

  .question-box {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card-content {
    flex-direction: column;
  }

  .trainings-card-header,
  .trainings-card-body {
    margin: 20px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .training-buttons {
    width: 150px;
  }

  .card-text h2,
  .card-text h3,
  .card-text p {
    font-size: 14px;
  }

  .footer p {
    font-size: 12px;
  }
}
