<header style="background-color: #333333; color: white; display: flex; justify-content: space-between; padding: 10px;">
  <a routerLink="/member-dashboard" aria-label="Back to Dashboard">
    <img src="assets/images/icons/back-icon.png" alt="Back" style="width: 30px; height: 50px; margin-top: 15%; margin-left: 5%">
  </a>
  <a routerLink="/member-profile" aria-label="Go to Profile">
    <img src="assets/images/member/member-icon.png" alt="Profile" style="width: 50px; height: 50px; margin-top: 15%">
  </a>
</header>

<div class="content">
  <mat-card class="training-card">
    <section class="training-card-header">
      <div class="question-box">
        <img src="assets/images/member/member-icon.png" alt="Member Icon" class="question-icon">
        <button mat-raised-button class="routine-button">{{ questionText }}</button>
      </div>

      <div class="buttons-section">
        <button mat-raised-button class="training-buttons" (click)="showRoutines()">Ejercicios</button>
        <a mat-raised-button class="training-buttons" routerLink="/search/coach" role="button">Profesionales</a>
        <button mat-raised-button class="training-buttons" (click)="showDiets()">Dietas</button>
      </div>
    </section>

    <mat-card class="trainings-card-header">
      <h2 class="results-title">Resultados</h2>
    </mat-card>
    <mat-card class="trainings-card-body">
      <div *ngIf="view === 'diets'">
        <div *ngFor="let diet of diets; trackBy: trackByDiet">
          <mat-card class="training-cards">
            <div class="card-content">
              <img [src]="diet.photo" alt="{{diet.title}}" class="card-image">
              <div class="card-details">
                <h2>{{diet.title}}</h2>
                <h3><strong>Calories:</strong> {{diet.calories}}</h3>
                <p>{{diet.description}}</p>
                <p><strong>Ingredients:</strong> {{diet.ingredients}}</p>
                <p><strong>Restrictions:</strong> {{diet.restrictions}}</p>
                <p><strong>Health Goal:</strong> {{diet.goal_health}}</p>
                <p><strong>By Coach:</strong> {{diet.coach.user.name + " " + diet.coach.user.lastname}}</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div *ngIf="view === 'routines'">
        <div *ngFor="let routine of routines; trackBy: trackByRoutine">
          <mat-card class="training-cards">
            <div class="card-content">
              <img [src]="routine.photo" alt="{{routine.name}}" class="card-image">
              <div class="card-details">
                <h2>{{routine.name}}</h2>
                <h3><strong>Exercise:</strong> {{routine.exercise}}</h3>
                <h3><strong>Repetitions:</strong> {{routine.repetitions}}</h3>
                <p>{{routine.instruction}}</p>
                <p><strong>By Coach:</strong> {{routine.coach.user.name + " " + routine.coach.user.lastname}}</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </mat-card>
</div>

<footer class="footer">
  <p>&copy; 2024 FitHub Pro - All rights reserved</p>
  <p>Address: Av. de la Fuerza, 123, Ciudad Gimnasio</p>
  <p>Phone: (555) 123-4567 | Email: info&commat;FitHubPro.com</p>
</footer>
