<header style="background-color: #333333; color: white; display: flex; justify-content: space-between; padding: 10px;">
  <a routerLink="/coach-dashboard">
    <img src="assets/images/icons/back-icon.png" alt="member-icon" style="width: 30px; height: 50px; margin-top: 15%; margin-left: 5%">
  </a>
  <a routerLink="/coach-profile">
    <img src="assets/images/member/member-icon.png" alt="member-icon" style="width: 50px; height: 50px; margin-top: 15%">
  </a>
</header>


<div class="container">
  <div class="chat-list">
    <div class="search-input">
      <!--<mat-form-field>
        <input matInput placeholder="Buscar usuario..." [formControl]="searchControl" [matAutocomplete]="users">
      </mat-form-field>-->
      <mat-autocomplete #users="matAutocomplete">
        <mat-option *ngFor="let user of chatsUsers" [value]="user.firstname+user.lastname">
          {{user?.firstname}} {{user?.lastname}}
        </mat-option>
      </mat-autocomplete>
      <mat-selection-list [multiple]="false" [formControl]="chatListControl">
        <div mat-subheader>Chats<br><br></div>
        <mat-divider></mat-divider>
        <mat-list-option *ngFor="let user of chatsUsers; let i = index" [value]="user.id">
          <div matListItemTitle (click)="setCurrentChat(user, i); getMessagebyCurrentChat()">
            {{ user?.firstname }} {{ user?.lastname }}
          </div>
        </mat-list-option>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </div>

  </div>
  <div class="messages">
    <div class="messages-header">
      <h2 >{{currentChatUser}}</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="chat-area">
      <mat-list *ngFor="let message of chatsMessages" class="chat-bubble-container">
        <div matListItemTitle class="chat-bubble">
          {{message.message}}
          <span class="chat-date">{{message.date}} {{message.time}}</span>
        </div>
      </mat-list>
    </div>
    <div class="input-area">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Ingresa tu mensaje" [(ngModel)]="messageContent"/>
        <button mat-icon-button matSuffix (click)="sendMessage(); getMessagebyCurrentChat()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>


