<div class="background">
  <div class="register-container">
    <div class="register-form">
      <h2 class="title">¿Olvidaste tu contraseña?</h2>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Usuario" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Correo electrónico" type="email">
      </mat-form-field>
      <button mat-raised-button color="primary">Recuperar contraseña</button>
    </div>
  </div>
</div>
