<div class="background">
  <div class="recovery-container">
    <div class="recovery-form">
      <h2 class="title">¿Olvidaste tu contraseña?</h2>
      <form [formGroup]="recoveryForm" (ngSubmit)="onRecover()">
        <mat-form-field appearance="fill">
          <input matInput placeholder="Correo electrónico" formControlName="email" type="email">
          <mat-error *ngIf="recoveryForm.get('email')?.hasError('required')">Correo es requerido</mat-error>
          <mat-error *ngIf="recoveryForm.get('email')?.hasError('email')">Correo inválido</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="recoveryForm.invalid">Recuperar contraseña</button>
      </form>
      <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    </div>
  </div>
</div>
