<header style="background-color: #333333; color: white; display: flex; justify-content: space-between; padding: 10px;">
  <a routerLink="/member-trainings">
    <img src="assets/images/icons/back-icon.png" alt="member-icon" style="width: 30px; height: 50px; margin-top: 15%; margin-left: 5%">
  </a>
  <a routerLink="/member-profile">
    <img src="assets/images/member/member-icon.png" alt="member-icon" style="width: 50px; height: 50px; margin-top: 15%">
  </a>
</header>

<div class="nombre-contacto">
  <img src="assets/entrenador.png" alt="" width="50" height="50">
  <mat-card-header>Entrenadores Físicos</mat-card-header>

</div>

<mat-card class="card-component">
<!-- Falta llamar a la api, pero esta es la estructura-->
  <div class="foto-informacion">
    <img src="https://i.pinimg.com/originals/22/b1/bd/22b1bd193966a3f59f88ff3c6865cb21.jpg" alt="Foto de perfil de coach" width="150" height="200">
    <div class="information">
      <h3 class="nombre-coach">Valentina Sofia Lopez Vergara</h3>
      <h3>Localización: Perú</h3>
      <h3>Especialización: Tonificación Muscular</h3>
      <h3>Años de experiencia: 6</h3>
      <a routerLink="/contact-coach">
        <button class="color-boton">Contactar</button>
      </a>
    </div>
  </div>
</mat-card>

<!-- Pondré más cartas hardcodeadas para dar el ejemplo de como se vería con el llamado a la api-->

<mat-card class="card-component">
  <div class="foto-informacion">
    <img src="https://i.pinimg.com/originals/22/b1/bd/22b1bd193966a3f59f88ff3c6865cb21.jpg" alt="Foto de perfil de coach" width="150" height="200">
    <div class="information">
      <h3 class="nombre-coach">Valentina Sofia Lopez Vergara</h3>
      <h3>Localización: Perú</h3>
      <h3>Especialización: Tonificación Muscular</h3>
      <h3>Años de experiencia: 6</h3>
      <a routerLink="/contact-coach">
        <button class="color-boton">Contactar</button>
      </a>
    </div>
  </div>
</mat-card>
<mat-card class="card-component">
  <div class="foto-informacion">
    <img src="https://i.pinimg.com/originals/22/b1/bd/22b1bd193966a3f59f88ff3c6865cb21.jpg" alt="Foto de perfil de coach" width="150" height="200">
    <div class="information">
      <h3 class="nombre-coach">Valentina Sofia Lopez Vergara</h3>
      <h3>Localización: Perú</h3>
      <h3>Especialización: Tonificación Muscular</h3>
      <h3>Años de experiencia: 6</h3>
      <a routerLink="/contact-coach">
        <button class="color-boton">Contactar</button>
      </a>
    </div>
  </div>
</mat-card>
<mat-card class="card-component">
  <div class="foto-informacion">
    <img src="https://i.pinimg.com/originals/22/b1/bd/22b1bd193966a3f59f88ff3c6865cb21.jpg" alt="Foto de perfil de coach" width="150" height="200">
    <div class="information">
      <h3 class="nombre-coach">Valentina Sofia Lopez Vergara</h3>
      <h3>Localización: Perú</h3>
      <h3>Especialización: Tonificación Muscular</h3>
      <h3>Años de experiencia: 6</h3>
      <a routerLink="/contact-coach">
        <button class="color-boton">Contactar</button>
      </a>
    </div>
  </div>
</mat-card>

<footer style="background-color: #333333; color: white; display: flex; justify-content: space-between; padding: 10px; margin-top: 3%">
  <p style="margin-left: 15%">&copy; 2024 FitHub Pro - Todos los derechos reservados</p>
  <p>Dirección: Av. de la Fuerza, 123, Ciudad Gimnasio</p>
  <p style="margin-right: 15%">Teléfono: (555) 123-4567 | Email: info&commat;FitHubPro.com</p>
</footer>
