<div class="app-container">
  <header style="background-color: #333333; color: white; display: flex; justify-content: space-between; padding: 10px;">
    <a routerLink="/member-trainings">
      <img src="assets/images/icons/back-icon.png" alt="member-icon" style="width: 30px; height: 50px; margin-top: 15%; margin-left: 5%">
    </a>
    <a routerLink="/member-profile">
      <img src="assets/images/member/member-icon.png" alt="member-icon" style="width: 50px; height: 50px; margin-top: 15%">
    </a>
  </header>

  <div class="content-container">
    <div class="search-container">
      <input type="text" [(ngModel)]="searchText" (input)="filterCoaches()" placeholder="Buscar coaches...">
    </div>

    <mat-card class="card-component" *ngFor="let coach of filteredCoaches">
      <div class="nombre-contacto">
        <img src="assets/entrenador.png" alt="Icono del entrenador" class="entrenador-icon">
        <div class="nombre-coach">{{ coach.user.name + ' ' + coach.user.lastname }}</div>
        <button class="color-boton" (click)="selectCoach(coach)">Contactar</button>
      </div>
      <div class="foto-informacion">
        <img [src]="coach.user.photo" alt="Foto de perfil de coach nutricional" class="perfil-imagen">
        <div class="information">
          <h3 class="nombre-coach">{{ coach.user.name + ' ' + coach.user.lastname}}</h3>
          <h3>Especialidad: {{ coach.specialty }}</h3>
          <h3>Dirección: {{ coach.user.address }}</h3>
          <h3>País: {{ coach.user.country }}</h3>
          <h3>Años de experiencia: {{ coach.yearsExperience }}</h3>
          <h3>Certificaciones: {{ coach.certification }}</h3>
        </div>
      </div>
    </mat-card>
  </div>

  <footer class="footer">
    <p>&copy; 2024 FitHub Pro - Todos los derechos reservados</p>
    <p>Dirección: Av. de la Fuerza, 123, Ciudad Gimnasio</p>
    <p>Teléfono: (555) 123-4567 | Email: info&commat;FitHubPro.com</p>
  </footer>
</div>
