
<mat-card class="card-component">
  <div class="nombre-contacto">
    <img src="assets/entrenador.png" width="50" height="50">
    <mat-card-header>Coach</mat-card-header>
    <button class="color-boton">Contactar</button>
  </div>
  <div class="foto-informacion">
    <img src="https://i.pinimg.com/originals/22/b1/bd/22b1bd193966a3f59f88ff3c6865cb21.jpg" alt="Foto de perfil de coach" width="250" height="300">
    <div class="information">
      <h3 class="nombre-coach">Valentina Sofia Lopez Vergara</h3>
      <h3>Especialización: Tonificación Muscular</h3>
      <h3>Localización: Lima - Perú</h3>
      <h3>Teléfono: 980 479 651</h3>
      <h3>Edad: 26</h3>
    </div>
  </div>
  <div class="card-especifico">
    <mat-card >Al inscribirse con un coach especialista en tonificación muscular, un alumno puede esperar un enfoque personalizado y profesional que incluye evaluación inicial, planificación de entrenamiento específico para tonificar los músculos, orientación nutricional, supervisión durante las sesiones de ejercicio y seguimiento regular para ajustar el programa según el progreso. Este enfoque integral busca optimizar el desarrollo de fuerza, resistencia y definición muscular, adaptándose a las metas individuales del alumno y promoviendo un estilo de vida saludable y activo.</mat-card>
  </div>
</mat-card>
