<div class="container">
  <div class="apartado1">
    <p>¡Cada repetición te acerca más a tus metas!</p>
    <p class="p2">Vas 3 días seguidos de entrenamiento.</p>
  </div>
  <div class="apartado2">
    <div class="block">
      <p>Entrenamiento</p>
      <mat-divider></mat-divider>
      <section>
        <div class="example-button-row">
          <button mat-flat-button class="custom-button">Seguir</button>
        </div>
      </section>
      <mat-divider></mat-divider>
    </div>
    <div class="block">
      <p>Notas de tu Coach</p>
      <mat-divider></mat-divider>
      <section>
        <div class="example-button-row">
          <button mat-flat-button class="custom-button">Ver</button>
        </div>
      </section>
      <mat-divider></mat-divider>
    </div>
    <div class="block">
      <p>Tus Objetivos Diarios</p>
      <mat-divider></mat-divider>
      <section>
        <div class="example-button-row">
          <button mat-flat-button class="custom-button">Comenzar</button>
        </div>
      </section>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="apartado3">
    <p>Notificaciones</p>
    <section class="notifications">
      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Mensaje: </mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p>Viendo tu avance, te recomiendo que realices más días ejercicios de piernas y cumplas con la meta nutricional que se te proporcionó</p>
          </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Mensaje: </mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p>Viendo tu avance, te recomiendo que realices más días ejercicios de piernas y cumplas con la meta nutricional que se te proporcionó</p>
          </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Mensaje: </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Viendo tu avance, te recomiendo que realices más días ejercicios de piernas y cumplas con la meta nutricional que se te proporcionó</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Mensaje: </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Viendo tu avance, te recomiendo que realices más días ejercicios de piernas y cumplas con la meta nutricional que se te proporcionó</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Mensaje: </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Viendo tu avance, te recomiendo que realices más días ejercicios de piernas y cumplas con la meta nutricional que se te proporcionó</p>
        </mat-card-content>
      </mat-card>
    </section>
  </div>
</div>
