.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.apartado1 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  .p2{
    font-weight: bold;
  }
}

.apartado1 p {
  margin: 30px;
}
.apartado2 {
  display: flex;
  justify-content: space-between;
  background-color: #aaaaaa;
}
.apartado3 {
  margin: 50px 30px 30px;
  font-size: 30px;
}
.block {
  background-color: #666666;
  border: 3px solid white;
  border-radius: 10px;
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  color: white;
  font-size: 30px;
  padding: 10px;
}
.block {
  margin: 20px 70px;
  .custom-button {
    background-color: #3581cd;
    color: white;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    width: 150px;
    height: 30px;
  }
}
.notifications {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-card-title {
  font-size: 1em;
  align-items: baseline;
  padding: 0;
}

mat-card-content {
  padding: 0;
}

.example-card {
  background-color: #d9d9d9;
  border: 2px solid white;
  margin: 1em 1em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  border-radius: 10px;
  width: 60%;
  height: 80%;
}
.mat-mdc-card-header {
  display: flex;
  padding: 0;
}
.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}
