<header style="background-color: #333333; color: white; display: flex; justify-content: space-between; padding: 10px;">
  <a routerLink="/search/coach">
    <img src="assets/images/icons/back-icon.png" alt="member-icon" style="width: 30px; height: 50px; margin-top: 15%; margin-left: 5%">
  </a>
  <a routerLink="/member-profile">
    <img src="assets/images/member/member-icon.png" alt="member-icon" style="width: 50px; height: 50px; margin-top: 15%">
  </a>
</header>

<div class="background">
  <div class="register-container">
    <div class="register-form">
      <h2 class="title">Contacta al Coach</h2>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Nombre Completo" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Teléfono" type="tel">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Ejemplo: Quiero ser su cliente..."></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">  Enviar Formulario  </button>
    </div>
  </div>
  <footer  style="background-color: #333333; color: white; display: flex; justify-content: space-between; padding: 10px;">
    <p style="margin-left: 15%">&copy; 2024 FitHub Pro - Todos los derechos reservados</p>
    <p>Dirección: Av. de la Fuerza, 123, Ciudad Gimnasio</p>
    <p style="margin-right: 15%">Teléfono: (555) 123-4567 | Email: info&commat;FitHubPro.com</p>
  </footer>
</div>
