<div class="background">
  <div class="register-container">
    <div class="register-form">
      <h2 class="title">Contacta al Coach</h2>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Nombre Completo" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Correo Electrónico" type="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Teléfono" type="tel">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Ejemplo: Buenas tardes..."></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">  Enviar Formulario  </button>
    </div>
  </div>
</div>
