<header class="header">
  <h1>FitHub Pro</h1>
  <a routerLink="/member-profile">
    <img src="assets/images/member/member-icon.png" alt="member-icon" class="member-icon">
  </a>
</header>

<div class="sentence">
  <p class="sentence-text-left">¡Cada repetición te acerca a tus metas!</p>
  <p class="sentence-text-right">
    <img src="assets/images/member/member-days-count.png" alt="member-days" class="member-days-count">Vas 3 dias seguidos de entrenamiento
  </p>
</div>

<div class="sections">
  <mat-card class="sections-card">
    <p>Entrenamientos</p>
    <button mat-raised-button class="sections-button" routerLink="/member-trainings">Seguir</button>
  </mat-card>
  <mat-card class="sections-card">
    <p>Notas de tu Coach</p>
    <button mat-raised-button class="sections-button">Ver</button>
  </mat-card>
  <mat-card class="sections-card">
    <p>Tus Objetivos Diarios</p>
    <button mat-raised-button class="sections-button">Comenzar</button>
  </mat-card>
</div>

<div class="section-notifications">
  <h2 class="notifications-title">Notificaciones</h2>
  <mat-card class="notifications-card">

    <mat-card class="member-notification">
      <p class="notification-title">¡No olvides tu rutina de hoy!</p>
      <p class="notification-content">Recuerda que hoy es el dia de trabajar piernas</p>
    </mat-card>

    <mat-card class="member-notification">
      <p class="notification-title">Nuevo mensaje:</p>
      <p class="notification-content">Viendo tu avance, te recomiendo que realices más días ejercicios de piernas y cumplas con la meta nutricional que se te proporcionó</p>
    </mat-card>

    <mat-card class="member-notification">
      <p class="notification-title">¡No olvides tu dieta de hoy!</p>
      <p class="notification-content">Sigue las recomendaciones del día, gracias por usar FitHub Pro</p>
    </mat-card>

  </mat-card>
</div>

<footer class="footer">
  <p>&copy; 2024 FitHub Pro - Todos los derechos reservados</p>
  <p>Dirección: Av. de la Fuerza, 123, Ciudad Gimnasio</p>
  <p>Teléfono: (555) 123-4567 | Email: info&commat;FitHubPro.com</p>
</footer>
