<div class="background-image">
  <div class="welcome-text">
    <h1>Bienvenidos a FitHub Pro</h1>
    <p>Descubre nuestros planes y sumérgete en el estilo<br>
    de vida fitness que transformará tu cuerpo y mente</p>
  </div>
</div>
<div class="login-container">
  <mat-form-field appearance="fill">
    <input matInput placeholder="Usuario" type="email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Contraseña" type="password">
  </mat-form-field>
  <div class="button-container">

    <a routerLink="/member-dashboard">
      <button mat-raised-button color="primary" class="button-login">Ingresar</button>
    </a>
    <button mat-raised-button color="accent" class="button-register" (click)="onRegisterClick()">Registrar</button>
  </div>
  <button mat-button color="primary" class="forgot-password" (click)="onRecoveryPasswordClick()">¿Olvidaste tu contraseña?</button>
</div>
